{"swagger":"2.0","info":{"description":"API developed in Spring boot for AppSec project","version":"1.0.0","title":"App Security Consumer API","contact":{"name":"Nithin Akkarapatty","email":"Nithin.Akkarapatty1@T-mobile.com"}},"host":"npe-api.appsec.corporate.t-mobile.com:8443","basePath":"/consumer/v1","tags":[{"name":"SOURCE CODE","description":"API for fetching sourcecode details"},{"name":"JIRA ISSUES","description":"API for fetching JIRA issues details"},{"name":"JIRA SCAN","description":"API for fetching JIRA scan details"},{"name":"VERACODE","description":"API for fetching veracode related details"},{"name":"WEB PERIMETER","description":"API for fetching web perimeter details"},{"name":"MOBLE DATA","description":"API for fetching mobile-data details"}],"paths":{"/search/s1/count/getDevelopers":{"get":{"tags":["SOURCE CODE"],"summary":"Get developer count","description":"Gives the COUNT of the developers. If you provide a valid project key as parameter, this API will fetch the count of developers for that project. If no parameter is specified, it will fetch the developers count of the entire projects","operationId":"getDevelopersCountUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"projectKey","in":"query","description":"Provide the Project key","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s1/count/getLinesOfCode":{"get":{"tags":["SOURCE CODE"],"summary":"Get LOC count","description":"Gives the COUNT of the lines of code. If you provide a valid project key as parameter, this API will fetch the count of loc for that project. If no parameter is specified, it will fetch the lines of code of the entire projects","operationId":"getLinesOfCodeCountUsingGET_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"projectKey","in":"query","description":"Provide the Project key.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s1/count/getProjects":{"get":{"tags":["SOURCE CODE"],"summary":"Get project count","description":"Gives the COUNT of the projects","operationId":"getProjectsCountUsingGET_1","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s1/count/getRepos":{"get":{"tags":["SOURCE CODE"],"summary":"Get repository count","description":"Gives the COUNT of the repositories. If you provide a valid project key as parameter, this API will fetch the count of repositories for that project. If no parameter is specified, it will fetch the repository count of the entire projects","operationId":"getReposCountUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"projectKey","in":"query","description":"Provide the Project key.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s1/list/getDevelopers":{"get":{"tags":["SOURCE CODE"],"summary":"Get developer list","description":"Gives the LIST of the repositories. If you provide a valid project key as parameter, this API will fetch the list of developers for that project. If no parameter is specified, it will fetch the developer list of the entire projects","operationId":"getDevelopersListUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"projectKey","in":"query","description":"Provide the Project key","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s1/list/getProjects":{"get":{"tags":["SOURCE CODE"],"summary":"Get project list","description":"Gives the LIST of the projects","operationId":"getProjectsListUsingGET_1","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s1/list/getRepos":{"get":{"tags":["SOURCE CODE"],"summary":"Get repository list","description":"Gives the LIST of the repositories. If you provide a valid project key as parameter, this API will fetch the list of repositories for that project. If no parameter is specified, it will fetch the repository list of the entire projects","operationId":"getReposListUsingGET_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"projectKey","in":"query","description":"Provide the Project key.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s2/count/getAndroidApps":{"get":{"tags":["MOBLE DATA"],"summary":"Get Android apps count","description":"Gives the count of Android apps","operationId":"getProjectsCountUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s2/count/getIOSApps":{"get":{"tags":["MOBLE DATA"],"summary":"Get IOS apps count","description":"Gives the count of IOS apps","operationId":"getLinesOfCodeCountUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s2/list/getAndroidApps":{"get":{"tags":["MOBLE DATA"],"summary":"Get Android apps list","description":"Gives the LIST of Android apps","operationId":"getProjectsListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s2/list/getIOSApps":{"get":{"tags":["MOBLE DATA"],"summary":"Get IOS apps list","description":"Gives the LIST of IOS apps","operationId":"getReposListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s3/count/getDomains":{"get":{"tags":["WEB PERIMETER"],"summary":"Get domain count","description":"Gives the COUNT of Domains","operationId":"getDomainsCountUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s3/count/getExternalHosts":{"get":{"tags":["WEB PERIMETER"],"summary":"Get external host count","description":"Gives the COUNT of Hosts","operationId":"getExternalHostsCountUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s3/count/getHosts":{"get":{"tags":["WEB PERIMETER"],"summary":"Get host count","description":"Gives the COUNT of Hosts","operationId":"getHostsCountUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s3/count/getInternalHosts":{"get":{"tags":["WEB PERIMETER"],"summary":"Get internal host count","description":"Gives the COUNT of Internal Hosts","operationId":"getInternalHostsCountUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s3/list/getDomains":{"get":{"tags":["WEB PERIMETER"],"summary":"Get domain list","description":"Gives the LIST of Domains","operationId":"getDomainsListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s3/list/getExternalHosts":{"get":{"tags":["WEB PERIMETER"],"summary":"Get external host list","description":"Gives the LIST of External Hosts","operationId":"getExternalHostsListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s3/list/getHosts":{"get":{"tags":["WEB PERIMETER"],"summary":"Get host list","description":"Gives the LIST of Hosts","operationId":"getHostsListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s3/list/getInternalHosts":{"get":{"tags":["WEB PERIMETER"],"summary":"Get internal host list","description":"Gives the LIST of Internal Hosts","operationId":"getInternalHostsListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s4/count/closed/getJiraIssues":{"get":{"tags":["JIRA ISSUES"],"summary":"Get closed issues count","description":"Gives the COUNT of the OPEN JIRA issues corresponding to the AKMID","operationId":"getClosedJiraIssuesUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"akmid","in":"query","description":"Provide the AKMID","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s4/count/getCompliantIssues":{"get":{"tags":["JIRA ISSUES"],"summary":"Get total compliant open issue count","description":"Gives the TOTAL Count of OPEN Jira issues whose open age is < 30 days for a particular AKMID","operationId":"getCompliantJiraIssuesCountUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"akmid","in":"query","description":"Provide the AKMID","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s4/count/getJiraIssues":{"get":{"tags":["JIRA ISSUES"],"summary":"Get total issue count","description":"Gives the TOTAL Count of Jira issues both closed and opened together for a particular AKMID","operationId":"getJiraIssuesCountUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"akmid","in":"query","description":"Provide the AKMID","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s4/count/open/getJiraIssues":{"get":{"tags":["JIRA ISSUES"],"summary":"Get open issues count","description":"Gives the COUNT of the CLOSED JIRA issues corresponding to the AKMID","operationId":"getOpenJiraIssuesUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"akmid","in":"query","description":"Provide the AKMID","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s5/count/getAppVersions":{"get":{"tags":["VERACODE"],"summary":"Get count of app versions corresponding to a particular AppId","description":"Gives the COUNT of applications versions scanned for an AppId","operationId":"getAppVersionsCountUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"appId","in":"query","description":"Provide the App ID","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s5/count/getOutstandingNewFlaws":{"get":{"tags":["VERACODE"],"summary":"Get count of outstanding new flaws","description":"Gives the COUNT of outstanding new flaws","operationId":"getOutstandinNewFlawsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"appId","in":"query","description":"Provide the App ID","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s5/count/getThirdpartyApp":{"get":{"tags":["VERACODE"],"summary":"Get third party app count","description":"Gives the COUNT of third party applications","operationId":"getThirdPartyAppCountUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s5/list/getAppVersions":{"get":{"tags":["VERACODE"],"summary":"Get list of app versions corresponding to a particular appId","description":"Gives the LIST of applications versions scanned for an AppId","operationId":"getAppVersionsListUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"appId","in":"query","description":"Provide the App ID","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s5/list/getThirdpartyApp":{"get":{"tags":["VERACODE"],"summary":"Get third party app list","description":"Gives the LIST of third party applications","operationId":"getThirdPartyAppListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s6/apps/getDetails":{"get":{"tags":["JIRA SCAN"],"summary":"Onboarded application details","description":"Gives the basic details of the entire apps ","operationId":"getProjectDetailsUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s6/count/executiveSummary":{"get":{"tags":["JIRA SCAN"],"summary":"Summary of important metrics","description":"Gives the summary of important metrics as count","operationId":"getSummaryCountsUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s6/count/inventorySummary":{"get":{"tags":["JIRA SCAN"],"summary":"Summary of important metrics","description":"Gives the summary of important metrics as count","operationId":"getInventoryCountsUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s6/downloadSummary":{"get":{"tags":["JIRA SCAN"],"summary":"download","operationId":"downloadUsingGET","consumes":["application/json"],"produces":["application/vnd.openxmlformats-officedocument.spreadsheetml.sheet.main+xml"],"parameters":[{"name":"type","in":"query","description":"type","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s6/ingestExecutiveSummaryData":{"get":{"tags":["JIRA SCAN"],"summary":"ingestExecutiveSummaryData","operationId":"ingestExecutiveSummaryDataUsingGET","consumes":["application/json"],"produces":["text/plain"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s6/scan/getDetails":{"get":{"tags":["JIRA SCAN"],"summary":"Scan details","description":"Gives the details of a scan corresponding to AKMID or project name","operationId":"getScanDetailsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"akmid","in":"query","description":"Provide the AKMID","required":false,"type":"string"},{"name":"projectname","in":"query","description":"Provide the project name","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}},"/search/s6/{index}/summary":{"post":{"tags":["JIRA SCAN"],"summary":"Summary of important metrics","description":"Gives the summary of important metrics as count","operationId":"getSummaryGridDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"index","in":"path","description":"index","required":true,"type":"string"},{"in":"body","name":"model","description":"model","required":true,"schema":{"$ref":"#/definitions/GridRequestModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"406":{"description":"Not Acceptable"},"500":{"description":"500 message"}}}}},"securityDefinitions":{"appsec_consumer_auth":{"type":"oauth2","tokenUrl":"https://pacbot.t-mobile.com/api/auth/oauth/token?grant_type=client_credentials","flow":"application","scopes":{"resource-access":"Get Resource Access"}}},"definitions":{"GridRequestModel":{"type":"object","properties":{"page":{"type":"integer","format":"int32"},"query":{"type":"object"},"size":{"type":"integer","format":"int32"},"sortDirection":{"type":"string"},"sortField":{"type":"string"}}}}}